registry=https://izhimu-npm.pkg.coding.net/seas/npm-releases/
always-auth=true
//izhimu-npm.pkg.coding.net/seas/npm-releases/:username=npm-releases-1693202827930
//izhimu-npm.pkg.coding.net/seas/npm-releases/:_password=MzU0NDcyMmMxMTYxY2UyZTg4ZjAxZmJhODQ1ODEyYTkyZTFiMTgyNQ==
//izhimu-npm.pkg.coding.net/seas/npm-releases/:email=1334642674@qq.com

//izhimu-npm.pkg.coding.net/seas/npm-releases-open/:username=npm-releases-open-1703573189493
//izhimu-npm.pkg.coding.net/seas/npm-releases-open/:_password=NDExODBmZjA4NmI5ZWUzNDBmOTEwMWUxZGI3NDU1YmYwNjJiMTRjMQ==
//izhimu-npm.pkg.coding.net/seas/npm-releases-open/:email=1334642674@qq.com